SECRET_KEY = 'dev'
#format = protocol://username:password@host/db_name
SQLALCHEMY_DATABASE_URI = 'sqlite:///db.sqlite'
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USERNAME = 'your_email@gmail.com'
MAIL_PASSWORD = 'your_app_password'
MAIL_DEFAULT_SENDER = 'your_email@gmail.com'
