* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: url("images/oranzhevyi-fon-linii-background-geometriia-vektor.jpg") center/cover no-repeat fixed;
}

.centralized_form_container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black; */
}

#column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "head head head"
        ". sign ."
    ;
}

#colomn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "head head head"
        ". login ."
    ;
}


.landing {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    justify-items: flex-start;
    text-align: center;
    color: white;
    height: 20vh;
    width: 100%;
}

#head {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    grid-area: head;
}

#contain {
    display: flex;
    flex-direction: row;
    width: 79%;
}

#write_up {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#write_up h2 {
    margin-top: 25px;
    margin-right: 10px;
}

#write_up h4 {
    margin-top: 30px;
}

.contain1 {
    margin-right: 20px;
}

#contains {
    margin-right: 100px;
    width: 300px;
}

#contains img {
    height: 80px;
    margin-right: 10px;
}

#contain h1 {
    margin-top: 30px;
}

.landing img {
    height: 80%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

#user {
    height: 100vh;
}

form input[type=text], form input[type=email] {
    margin-bottom: 1rem;
}

label {
    font-size: 17.5px;
}

input {
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 15px;
    border: none;
}

#butt1 {
    background-color: black;
    padding: 3px 20px;
    height: 30px;
    margin-right: 50px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    border: none;
}

#butt1 a {
    text-decoration: none;
    color: white;
}


#butt1 {
    background-color: #785238;
    padding: 3px 20px;
    height: 30px;
    width: 100px;
    margin-right: 50px;
    margin-top: 40px;
    color: white;
    border-radius: 10px;
    border: none;
} 

#butt1 :hover {
    transform: scale(1);
}


.login {
    background-color: black;
    padding: 30px 20px;
    color: white;
    width: 750px;
    height: 300px;
    border-radius: 20px;
    grid-area: login;
}

#elementals {
    display: flex;
    flex-direction: column;
}

#element {
    display: flex;
    flex-direction: row;
}

#element > div {
    margin-right: 100px;
}

#Sign{
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: -155.5px;
    margin-bottom: 100px;
    grid-area: sign;
    width: 700px;
}

.sign_post {
    display: flex;
    flex-direction: row;
}





