* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: url("images/oranzhevyi-fon-linii-background-geometriia-vektor.jpg") center/cover no-repeat fixed;
}

#page_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 20px;
    color: white;
    width: 100%;
    height: fit-content;
}

#page_header img {
    width: 50px;
    height: 50px;
}

.centralized_form_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#user {
    height: 100vh;
}

form input[type=text], form input[type=email] {
    margin-bottom: 1rem;
}

label {
    font-size: 25px;
}

input {
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 20px;
    border: none;
}

.header_button {
    background-color: #785238;
    padding: 3px 20px;
    height: 30px;
    margin: 15px;
    color: white;
    border-radius: 10px;
    border: none;
}

.header_button a {
    text-decoration: none;
    color: white;
}

.header_text {
    padding: 3px 20px;
    height: 30px;
    margin: 15px;
}

.login {
    background-color: black;
    padding: 30px 20px;
    color: white;
    width: 50%;
    height: 30vh;
    border-radius: 20px;
}


#element {
    display: flex;
    flex-direction: row;
}

#element > div {
    margin-right: 100px;
}

#Sign{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.sign_class1 {
    display: flex;
    flex-direction: row;
}

#sign1 {
    margin-right: 50px;
}

#sign3 {
    margin-right: 50px;
}

.sign_class2 {
    display: flex;
    flex-direction: row;
}
