body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background-color: white;
    border-style: 3px double grey;
    padding: auto 5vw;
    text-align: center;
}

form input[type=text], form input[type=email] {
    margin-bottom: 1rem;
}
