body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

div {
    background-color: white;
    border-style: 3px double grey;
    padding: auto 5vw;
    font-size: 3rem;
}