<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %} | Social Media</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body {% block body_attrs %}{% endblock %}>
    {% block page_body %}
        <header id="page_header">
            <div>
                <img src="{{ url_for('static', filename='images/logo.png' )}}" width="50" height="50" />
            </div>
            <div>
                {% block header_items %}{% endblock %}
            </div>
        </header>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash_messages">
                    {% for m in messages %}
                        <div class="flash">{{ m }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block centralized_form %}
        {% endblock %}
    {% endblock %}
    </body>
</html>