{% extends '_base.html' %}

{% block page_title %}Welcome{% endblock %}

{% block page_body %}
<div class="landing">
    {% if current_user == None %}
     <div id="contain">
        <img src="{{ url_for('static', filename='images/8b0928b1576ecea3056fb1d8b55ae269.jpg') }}">
        <h1>SOSHACk</h1>  
    </div>
    <button id="butt1">
        <a href="{{ url_for('show_sign_up_form') }}">Sign up</a>
    </button>

    <button id="butt1">
        <a href="{{ url_for('show_login_form') }}">Log in</a>
    </button>
     
    {% else %}
     <div id="contain">
        <img src="{{ url_for('static', filename='images/8b0928b1576ecea3056fb1d8b55ae269.jpg') }}">
        <h1>SOSHACk</h1>  
    </div>
    <h1>{{ current_user["first_name"] }}, welcome to our social media application</h1>
    {% endif %}
</div>
{% endblock %}

