<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flask App | Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body id="login_body">
        <div class="login">
            <form action="/login" method="post">
               <div id="element">
                <div id="">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email">
               </div> 
                <div>
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password"><br><br>
                </div>
               </div>


                <input type="submit" id="butt1" value="Login">
            </form>
        </div>
    </body>
</html>
