{% extends '_base.html' %}

{% block page_title %}Sign up{% endblock %}

{% block body_attrs %}class="centralized_form_container"{% endblock %}

{% block header_items %}
    <button class="header_button">
        <a href="{{ url_for('show_login_form') }}">Login</a>
    </button>
{% endblock %}

{% block centralized_form %}
<div id="Sign">
    <form action="/sign-up" method="post">
        <div class="sign_class1">
        <div id="sign1">
            <label for="firstname">First Name</label><br>
            <input type="text" id="firstName" name="firstName" required><br>
        </div>
        <div id="sign2">
            <label for="lastname">Last Name</label><br>
            <input type="text" id="lastName" name="lastName"><br>
        </div>
        </div>
        <div class="sign_class2">
            <div id="sign3">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br>
        </div>
        <div id="sign4">
            <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        </div>
        </div>


        <input type="submit" id="butt1" value="Sign up">
    </form>
</div>
{% endblock %}
